<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/home" class="logo">
      <img src="assets/banca_con_sfondo-removebg-preview.png" alt="Logo" class="logo-img" />
      <span>Banca<span>ITS</span></span>
    </a>
  </div>
  <div class="navbar-center" *ngIf="(currentUser$ | async) as currentUser">
    <ul class="nav-links">
      <li><a routerLink="/movimenti">Movimenti</a></li>
      <li><a routerLink="/bonifico">Bonifico</a></li>
      <li><a routerLink="/ricarica">Ricarica Telefonica</a></li>
    </ul>
  </div>
  <div class="navbar-right" *ngIf="(currentUser$ | async) as currentUser">
    <div class="user-info"
         (mouseenter)="showMenu()"
         (mouseleave)="hideMenu()">
      <img src="assets\sherek_sfondo-removebg-preview.png" alt="User" class="user-img" />
      <span class="username">{{ currentUser.fullname }}</span>
      <div class="dropdown" *ngIf="menuOpen">
        <a routerLink="/profilo">Profilo</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
