<div class="card" *ngIf="(currentUser$ | async) as currentUser;">
  <h2>Benvenuto {{ currentUser.nomeTitolare + "" + currentUser.cognomeTitolare }}</h2>
  <p><strong>Saldo conto corrente:</strong> {{ saldo }}</p>

  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Descrizione</th>
        <th>Importo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of movimenti">
        <td>{{ m.data }}</td>
        <td>{{ m.descrizione }}</td>
        <td>{{ m.importo}}</td>
        <td><a class="btn" (click)="dettagli(m._id)">Dettagli</a></td>
      </tr>
    </tbody>
  </table>
</div>
